@namespace EcoMeal.EcoMealBlazor.Components
@inherits SearchBarBase
@using EcoMeal.EcoMealBlazor.Models
@using EcoMeal.EcoMealBlazor.Services
@using Microsoft.Extensions.Localization
@using EcoMeal.EcoMealBlazor.Resources
@inject NavigationManager NavigationManager
@inject IStringLocalizer<SharedResource> Loc

<div class="search-container">
    <div class="search-wrapper">
        <span class="search-icon bi bi-search"></span>
        <input type="text"
               class="search-input"
               placeholder="@Loc["Search"]"
               @bind="SearchTerm"
               @bind:event="oninput"
               @bind:after="OnSearchTermChanged" />
        <div class="search-by-toggle">
            <button class="search-by-btn @(SearchBy == "name" ? "active" : "")" @onclick="SetSearchByName">
                <i class="bi bi-tag me-1"></i>@Loc["Name"]
            </button>
            <button class="search-by-btn @(SearchBy == "address" ? "active" : "")" @onclick="SetSearchByAddress">
                <i class="bi bi-geo-alt me-1"></i>@Loc["Address"]
            </button>
        </div>
        <button class="search-clear" @onclick="ClearSearch" style="@(_searchTermVisible ? "display: flex;" : "display: none;")">
            <span class="bi bi-x-lg"></span>
        </button>
    </div>
    <div class="search-filters">
        <div class="filter-buttons">
            <button class="filter-btn @(SelectedType == "" ? "active" : "")" @onclick="SetTypeAll">
                <i class="fa-solid fa-infinity me-1"></i> @Loc["All Types"]
            </button>
            @foreach (var type in BusinessTypes)
            {
                <button class="filter-btn @(SelectedType == type.Name ? "active" : "")" @onclick="(() => SetTypeItem(type.Name))" >
                    <i class="@GetTypeIcon(type.Name) me-1"></i> @LocTypeName(type.Name)
                </button>
            }
        </div>
    </div>
</div>



